﻿
<div id="modal-stocking-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header"style="background-color: #40b0e9;">
                <h4 class="modal-title" style="margin-left: 250px;color:white">Thêm mới/ Sửa cất hàng</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>

            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmStocking">
                        <input type="hidden" id="hidIdM" value="0" />
                        <input type="hidden" id="hidID" value="" />
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Mã pallet</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtPallet" required class="form-control" name="txtPallet" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Mã sản phẩm</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtProduct" required class="form-control" name="txtProduct" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Số lượng</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtNumber" required class="form-control" name="txtNumber" type="number" value="" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Vị trí</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <select id="ddlLocation" class="form-control" name="ddlLocation">
                                    <option value="">-- Chọn --</option>
                                </select>
                                @*<input type="text" name="txtProductType" class="form-control" id="txtProductType">*@
                            </div>
                        </div>

                    </form>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="btnSave" class="btn btn-success">Lưu</button>
                            <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>
