﻿
<div id="modal-location-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #40b0e9;">
                <h4 class="modal-title" style="margin-left: auto;color:white">Thêm mới/ Sửa vị trí</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>

            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmLocation">
                        <input type="hidden" id="hidIdM" value="0" />
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Vị trí</label>
                            <div class="col-sm-10" style="margin-bottom:10px;">
                                <input id="txtCode"  class="form-control" name="txtCode" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-2 control-label no-padding-right">Mô tả</label>
                            <div class="col-sm-10" style="margin-bottom:10px;">
                                <input id="txtName"  class="form-control" name="txtName" value="">
                            </div>
                        </div>
                    


                    </form>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="btnSave" class="btn btn-success">Lưu</button>
                            <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
