﻿
<div id="modal-product-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #40b0e9;">
                <h4 class="modal-title" style="margin-left: auto;color:white">Thêm mới/ Sửa Sản phẩm</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>

            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmProduct">
                        <input type="hidden" id="hidIdM" value="0" />
                        <div class="form-group">
                            <label for="txtNameM" class="col-sm-3 control-label no-padding-right">Loại sản phẩm</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <select id="ddlProductType" class="form-control" name="ddlProductType">
                                    <option value="">-- Chọn --</option>
                                </select>
                                @*<input type="text" name="txtProductType" class="form-control" id="txtProductType">*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Mã code</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtCode" required class="form-control" name="txtCode" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Model</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtModel" required class="form-control" name="txtModel" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Tên sản phẩm</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtName" required class="form-control" name="txtName" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Tên sản phẩm Việt Nam</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtNameVN" required class="form-control" name="txtNameVN" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Liên lạc</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtContact"  class="form-control" name="txtContact" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Mô tả</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtDes"  class="form-control" name="txtDes" value="">
                            </div>
                        </div>


                    </form>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="btnSave" class="btn btn-success">Lưu</button>
                            <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
