﻿@{
    ViewData["Title"] = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/app/Controllers/product/product.js" asp-append-version="true"></script>
<div class="page-title">
    <div class="title_left" style="width:100%">
        <ol class="breadcrumb">
            <li><a href="#"> Trang chủ > </a></li>
            <li><a href="#">Danh mục > </a></li>
            <li><a href="#">Sản phẩm</a></li>
        </ol>
    </div>
    <div class="title_left" style="margin: -15px 0px 0px 15px;">
        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2>Sản phẩm</h2>
    </div>


</div>

<div class="clearfix"></div>


<div class="col-md-12">
    <div class="col-md-4 ">
    </div>
    <div class="col-md-4">
        <div class="item form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="txtKeyword" placeholder="Nhập từ khóa cần tìm kiếm..." style="border:1px solid #ced4da;">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnSearch"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        <button class="btn btn-danger" type="button" id="btnDelete" style="float:right;"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</button>
        <button class="btn btn-primary" type="button" id="btnExport" style="float:right;"><i class="fa fa-download" aria-hidden="true"></i> Xuất File</button>
        <button class="btn btn-primary" type="button" id="btnImport" style="float:right;"><i class="fa fa-file-import" aria-hidden="true"></i> Import</button>
        <button class="btn btn-success" type="button" id="btnCreate" style="float:right;"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>

    </div>
    @*<div class="col-md-1 " style="float:left;">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="btnImport"><i class="fa fa-file-import" aria-hidden="true"></i> Import</button>
            </span>
        </div>
        <div class="col-md-1 " style="float:left;">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="btnExport"><i class="fa fa-download" aria-hidden="true"></i> Xuất File</button>
            </span>
        </div>
        <div class="col-md-1 " style="float:left;">
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button" id="btnDelete"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</button>
            </span>
        </div>*@
</div>

<div class="row" style=" overflow-x: auto;">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-striped table-bordered table-sm">

                    <thead>
                        <tr style="text-align: center;background-color: #4fb2e5;">
                            <th style="min-width:150px"> <input type="checkbox" class="ckcheck"> Chọn tất cả</th>
                            <th style="min-width:100px">Chỉnh sửa</th>
                            <th style="min-width:50px">STT</th>
                            <th style="min-width:100px">Loại sản phẩm</th>
                            <th style="min-width:100px">Mã code</th>
                            <th style="min-width:100px">Model</th>
                            <th style="min-width:100px">Tên sản phẩm</th>
                            <th style="min-width:100px">Tên Việt Nam</th>
                            <th style="min-width:100px">Liên lạc</th>
                            <th style="min-width:100px">Mô tả</th>
                            <th style="min-width:150px">Ngày tạo</th>
                            <th style="min-width:100px">Người tạo</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-product"></tbody>
                </table>
                <script id="table-template-product" type="x-tmpl-mustache">
                        <tr>
                            <th scope="row" style="text-align: center;">
                                <input type="checkbox" class="ckcheck1" data-id="{{WR_PR_CODE}}">
                            </th>
                         <th scope="row" style="text-align: center;">
                        <i class="fa fa-pencil-square-o i-list btn-edit" style="font-size:150%" data-id="{{WR_PR_CODE}}" title="Sửa"></i>
                            </th>

                            <td style="text-align: center;">{{STT}}</td>
                            <td>{{WR_PR_TYPE}}</td>
                            <td>{{WR_PR_CODE}}</td>
                            <td>{{WR_PR_MODEL}}</td>
                            <td>{{WR_PR_NAME}}</td>
                            <td>{{WR_PR_NAME_VN}}</td>
                            <td>{{WR_PR_CONTACT}}</td>
                            <td>{{WR_PR_DESCRIPTION}}</td>
                            <td>{{WR_PR_CREATEDATE}}</td>
                            <td>{{WR_PR_CREATEUSER}}</td>
                        </tr>
                </script>
                <!--Pagination-->

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
            <select id="ddlShowPage">
                <option value="10" selected="selected">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
            <strong id="lblTotalRecords"></strong>
        </div>
    </div><div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
            <ul id="paginationUL"></ul>
        </div>
    </div>
</div>


<link href="~/css/hover.css" rel="stylesheet" />
@Html.Partial("_AddUpdateProduct.cshtml")
@Html.Partial("_ImportExcelProductModal.cshtml")
<script>
    var product = new productController();
    product.initialize();
</script>


