﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/jquery.min.js"></script>
@*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
<script src="~/app/Controllers/product-type/product-type.js"></script>

<div class="page-title">
    <div class="title_left" style="width:100%">
        <ol class="breadcrumb">
            <li><a href="#"> Trang chủ > </a></li>
            <li><a href="#">Danh mục > </a></li>
            <li><a href="#">Loại sản phẩm</a></li>
        </ol>
    </div>
    <div class="title_left" style="margin: -15px 0px 0px 15px;">
        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2>Loại sản phẩm</h2>
    </div>


</div>

<div class="clearfix"></div>


<div class="col-md-12">
    <div class="col-md-5 ">
    </div>
    <div class="col-md-4 col-sm-5 col-xs-12 form-group pull-right top_search" style="float:left;">
        <div class="input-group">
            <input type="text" class="form-control" id="txtKeyword" placeholder="Nhập từ khóa cần tìm kiếm..." style="border:1px solid #ced4da;">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="btnSearch"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
        </div>
    </div>
    <div class="col-md-3 ">
        <button class="btn btn-danger" type="button" id="btnDelete" style="float:right;"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</button>
        <button class="btn btn-primary" type="button" id="btnExport" style="float:right;"><i class="fa fa-download" aria-hidden="true"></i> Xuất file</button>
        @*<button class="btn btn-primary" type="button" id="btnImport" style="float:right;"><i class="fa fa-file-import" aria-hidden="true"></i> Import</button>*@
        <button class="btn btn-success" type="button" id="btnCreate" style="float:right;"><i class="fa fa-plus" aria-hidden="true"></i> Thêm mới</button>
    </div>
    @*<div class="col-md-1 " style="float:left;" hidden>
            <span class="input-group-btn" >
                <button class="btn btn-primary" type="button" id="btnImport"><i class="fa fa-file-import" aria-hidden="true"></i> Import</button>
            </span>
        </div>
        <div class="col-md-1 " style="float:left;">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="btnExport"><i class="fa fa-download" aria-hidden="true"></i> Xuất file</button>
            </span>
        </div>
        <div class="col-md-1 " style="float:left;">
            <span class="input-group-btn">
                <button class="btn btn-danger" type="button" id="btnDelete"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</button>
            </span>
        </div>*@
</div>

<div class="row" style=" overflow-x: auto;">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-striped table-bordered table-sm">

                    <thead>
                        <tr style="text-align: center; background-color: #4fb2e5;">
                            <th width="150px"> <input type="checkbox" class="ckcheck"> Chọn tất cả</th>
                            <th width="100px">Chỉnh sửa</th>
                            <th width="50px">STT</th>
                            <th>ID</th>
                            @*<th>Model</th>*@
                            <th>Tên loại sản phẩm</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content"></tbody>
                </table>
                <script id="table-template" type="x-tmpl-mustache">
                        <tr>
                            <th scope="row" style="text-align: center;">
                                <input type="checkbox" class="ckcheck1" data-id="{{PT_ID}}">
                            </th>
                            <th scope="row" style="text-align: center;">
                        <i class="fa fa-pencil-square-o i-list btn-edit" style="font-size:150%" data-id="{{PT_ID}}" title="Sửa"></i>
                                @*<button class="btn btn-default btn-edit" data-id="{{PT_ID}}" style="height:27px; width:27px;margin: -10px 0px 0px 0px"><i class="fa fa-pen" style=" margin-left: -8px;"></i></button>*@
                                @*<button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>*@
                            </th>
                            <td style="text-align: center;">{{STT}}</td>
                            <td>{{PT_ID}}</td>
                            @*<td>{{PT_MODEL}}</td>*@
                            <td>{{PT_NAME}}</td>
                        </tr>
                </script>
                <!--Pagination-->

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
            <select id="ddlShowPage">
                <option value="10" selected="selected">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
            <strong id="lblTotalRecords"></strong>
        </div>
    </div><div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
            <ul id="paginationUL"></ul>
        </div>
    </div>
</div>


<link href="~/css/hover.css" rel="stylesheet" />
@Html.Partial("_AddUpdateProductType.cshtml")
@Html.Partial("_ImportExcelProductTypeModal.cshtml")
<script>
    var product = new productTypeController();
    product.initialize();
</script>


