﻿
<div id="modal-pallet-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #40b0e9;">
                <h4 class="modal-title" style="margin-left: auto;color:white">Thêm mới/ Sửa mã Pallet</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>

            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmPallet">
                        <input type="hidden" id="hidIdM" value="0" />
                        <input type="hidden" id="hidCode" value="" />

                        <div class="form-group" id="hiddenNumber">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Số lượng</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtNumber" required class="form-control" name="txtNumber" type="number" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Ghi chú</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtDes" required class="form-control" name="txtDes" value="">
                            </div>
                        </div>

                    </form>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="btnSave" class="btn btn-success">Lưu</button>
                            <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                        </div>
                    </div>
                    <div id="bcTarget1">
                        <svg id="barcode"></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
