﻿
<div id="modal-pallet-detail" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #40b0e9;">
                <h4 class="modal-title" style="margin-left: auto;color:white">Chi tiết mã Pallet</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>

            </div>
            <div class="modal-body">
                <div id="horizontal-form">

                    <div id="bcTarget">
                        @*<svg id="detailPallet"></svg>*@
                    </div>
                    <div class="form-group" id="print" hidden>
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="btnPrint" class="btn btn-success">In mã</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
