﻿@{
    ViewData["Title"] = "Danh sách pallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/jquery.min.js"></script>

<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<link href="~/lib/jqueryui/themes/smoothness/jquery-ui.css" rel="stylesheet" />

<script src="~/lib/jsbarcode/JsBarcode.all.js"></script>

<script src="~/app/Controllers/pallet/index.js" asp-append-version="true"></script>
<div class="page-title">
    <div class="title_left" style="width:100%">
        <ol class="breadcrumb">
            <li><a href="#"> Trang chủ > </a></li>
            <li><a href="#">Danh mục > </a></li>
            <li><a href="#">Danh sách pallet</a></li>
        </ol>
    </div>
    <div class="title_left" style="margin: -15px 0px 0px 15px;">
        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2>Danh sách pallet</h2>
    </div>


</div>

<div class="clearfix"></div>


<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="col-md-12">
                <div class="col-md-4 ">

                </div>
                <div class="col-md-4 ">
                    <div class="item form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtKeyword" placeholder="Nhập từ khóa cần tìm kiếm..." style="border:1px solid #ced4da;">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" id="btnSearch"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-4 ">


                    <button class="btn btn-danger" type="button" id="btnDelete" style="float:right;"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</button>
                    <button class="btn btn-primary" type="button" id="btnExport" style="float:right;"><i class="fa fa-download" aria-hidden="true"></i> Xuất file</button>
                    <button class="btn btn-success" type="button" id="btnCreate" style="float:right;"><i class="fa fa-plus" aria-hidden="true"></i> Thêm</button>
                    <button class="btn btn-primary" type="button" id="btnDetail" style="float:right;"><i class="fa fa-list-alt" aria-hidden="true"></i> Xem mã</button>

                </div>
                @*<div class="col-md-1 " style="float:left;">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnImport"><i class="fa fa-file-import" aria-hidden="true"></i> Import</button>
                </span>sss
            </div>*@
                @*<div class="col-md-1 " style="float:left;">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="btnExport"><i class="fa fa-download" aria-hidden="true"></i> Xuất file</button>
                </span>
            </div>
            <div class="col-md-1 " style="float:left;">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button" id="btnDelete"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</button>
                </span>
            </div>*@
            </div>

            <div class="col-md-12 col-sm-12 ">
                <div class="col-md-2 ">
                    <div class="item form-group">
                        <label style="font-weight:bolder">Bộ lọc nâng cao:</label>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="item form-group">

                        <label class="col-form-label col-md-5 col-sm-5 ">
                            Tình trạng đơn
                        </label>
                        <div class="col-md-7 col-sm-7 form-group has-feedback">
                            <select id="ddlStatus" class="form-control" name="ddlStatus">
                                <option value="">-- Chọn --</option>
                                <option value="1">Chưa sử dụng</option>
                                <option value="2">Đã sử dụng</option>
                                <option value="3">Đã xóa</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="item form-group">

                        <label class="col-form-label col-md-4 col-sm-4 ">
                            Từ ngày
                        </label>
                        <div class="col-md-8 col-sm-8 form-group has-feedback">
                            <input id="txtFromDate" required class="form-control dateTime" name="txtFromDate" value="" placeholder="dd/MM/yyyy">
                            <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="item form-group">

                        <label class="col-form-label col-md-4 col-sm-4 ">
                            Đến ngày
                        </label>
                        <div class="col-md-8 col-sm-8 form-group has-feedback">
                            <input id="txtToDate" required class="form-control dateTime" name="txtToDate" value="" placeholder="dd/MM/yyyy">
                            <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>
                        </div>

                    </div>
                </div>
                <div class="col-md-1 ">
                    <div class="item form-group" style="float:right">

                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="btnSearchNC" style="float:right;"><i class="fa fa-search" aria-hidden="true"></i> Lọc</button>
                        </span>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="row" style=" overflow-x: auto;">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-striped table-bordered table-sm">

                    <thead>
                        <tr style="text-align: center;background-color: #4fb2e5;">
                            <th style="min-width:150px"> <input type="checkbox" class="ckcheck"> Chọn tất cả</th>
                            <th style="min-width:100px">Chỉnh sửa</th>
                            <th style="min-width:50px">STT</th>
                            <th style="min-width:100px">Mã Pallet</th>
                            <th style="min-width:120px">Trạng thái sử dụng</th>
                            <th style="min-width:150px">Ngày tạo</th>
                            <th style="min-width:100px">Người tạo</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-pallet"></tbody>
                </table>
                <script id="table-template-pallet" type="x-tmpl-mustache">
                        <tr>
                             < <th style="text-align: center;">
                                <input type="checkbox" class="ckcheck1" data-id="{{CODE}}" data-status="{{CHECK_STATUS}}">
                            </th>
                            <th scope="row" style="text-align: center;">
                        <i class="fa fa-pencil-square-o i-list btn-edit" style="font-size:150%" data-id="{{CODE}}" title="Sửa"></i>
                         <i class="fa fa-list-alt i-list btn-detail" style="font-size:150%" data-id="{{CODE}}" title="Sửa"></i>
                                @*<button class="btn btn-default btn-edit" data-id="{{PT_ID}}" style="height:27px; width:27px;margin: -10px 0px 0px 0px"><i class="fa fa-pen" style=" margin-left: -8px;"></i></button>*@
                                @*<button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>*@
                            </th>
                             <td style="text-align: center;">{{STT}}</td>
                            <td>{{CODE}}</td>
                            <td>{{STATUS}}</td>
                            <td>{{CREATE_DATE}}</td>
                            <td>{{CREATE_USER}}</td>
                        </tr>
                </script>
                <!--Pagination-->

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
            <select id="ddlShowPage">
                <option value="10" selected="selected">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
            <strong id="lblTotalRecords"></strong>
        </div>
    </div><div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
            <ul id="paginationUL"></ul>
        </div>
    </div>
</div>



<link href="~/css/hover.css" rel="stylesheet" />
@Html.Partial("_AddUpdatePallet.cshtml")
@Html.Partial("_DetailPallet.cshtml")

<script>
    var goods = new palletController();
    goods.initialize();
</script>


