﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Đăng nhập hệ thống</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/lib/notify/styles/metro/notify-metro.css" rel="stylesheet" />
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>*@
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <div class="item form-group" style="text-align:center">
                <img src="~/admin-side/images/logo1.png" alt="Italian Trulli" style="width: 134px;height: 85px; object-fit: contain;margin:50px 0px 0px 0px">
            </div>
            <div class="item form-group" style="text-align:center">
                <div class="card-header"><h3 style="font-family: Helvetica Neue, Roboto, Arial, Droid Sans , sans-serif;line-height: 1.32;color: #65f7ff;font-size:20px;">Đăng nhập kho</h3></div>
               
            </div>
            <div class="item form-group">
                <div style="width: 320px; height: 293px; padding: 20px 25px 23px; border-radius: 10px; box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.2); background-color: #ffffff;margin-left:auto;margin-right:auto">

                    <form asp-action="Login" asp-controller="Login" method="post">
                        <div class="form-group">
                            <label class="small mb-1 dangnhap">Tên đăng nhập</label>
                            <input class="form-control  dangnhap1" type="text" id="txtUserName" placeholder="Nhập tên đăng nhập" value="@ViewData["USER_NAME"]" />
                        </div>
                        <div class="form-group">
                            <label class="small mb-1 dangnhap">Mật khẩu</label>
                            <input class="form-control  dangnhap1" type="password" id="txtPassword" placeholder="Nhập mật khẩu" value="@ViewData["PASSWORD"]"/>
                        </div>
                        <div class="form-group">
                            <input style=" margin: 1px 10px 0 0; border-radius: 3px;  background-color: #ffffff;" type="checkbox" id="remenber" value="@ViewData["REMENBER"]" />
                            <label class="dangnhap1">Ghi nhớ mật khẩu</label>
                        </div>
                        <div class="form-group">
                            @*<a class="small" href="/User/ForgotPassword">Bạn quên mật khẩu?</a>*@
                            <button class="btn btn-primary dangnhap" type="submit" id="btnDangnhap" style="border-radius: 5px; background-color: #004b7d;width: 270px; height: 40px;text-align:center;margin:-54px 0px 0px 0px;font-size: 22px;color: #ffffff;font-family: SegoeUI;">Đăng nhập</button>
                        </div>
                    </form>

                </div>
            </div>
            @*<div style="width: 200px;height: 125.4px; object-fit: contain;" ;>*@

            @*</div>*@
            @*<div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">*@
            @*<div class="row">
                <div class="col-md-8 col-sm-8 form-group has-feedback">
                </div>
                <div class="col-md-3 col-sm-3 form-group has-feedback" style="margin-left:90px">

                </div>

            </div>*@

            @*</div>
            </div>
        </div>*@

        </div>
            @*<div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2019</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>*@
        </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>*@
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>*@
    <script src="~/lib/notify/notify.js"></script>
    <script src="~/lib/notify/styles/metro/notify-metro.js"></script>

    <script src="~/js/scripts.js"></script>
    <script src="~/app/Shared/common.js"></script>
    <script src="~/app/Controllers/login/login.js"></script>
    <script>
        var login = new loginController();
        login.initialize();
    </script>
</body>
</html>
