﻿
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Đăng nhập hệ thống</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="~/lib/notify/styles/metro/notify-metro.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <img src="/admin-side/images/logo1.png" alt="..." class="Rectangle-179" style="margin: 209px 69px 95px 61px;width: 50%;  height: 665px; background-image: linear-gradient(43deg, #5c6ccd, #5753b5 100%); " />
             @*<div id="layoutAuthentication_content"></div>*@
        @*<div class="Rectangle-179" style=" width: 1000px; height: 1080px; background-image: linear-gradient(43deg, #5c6ccd, #5753b5 100%);">

           
        </div>*@


        @*<div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2019</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>*@
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/notify/notify.js"></script>
    <script src="~/lib/notify/styles/metro/notify-metro.js"></script>

    <script src="/js/scripts.js"></script>
    <script src="~/app/Shared/common.js"></script>
    <script src="~/app/Controllers/login/login.js"></script>
    <script>
        var login = new loginController();
        login.initialize();
    </script>
</body>
</html>
