﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] </title>

    <!-- Bootstrap -->

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    @*<link href="~/lib/nprogress/nprogress.css" rel="stylesheet" />*@
    <!-- bootstrap-daterangepicker -->
    <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/admin-side/css/custom.min.css" rel="stylesheet" />

    <link href="~/lib/notify/styles/metro/notify-metro.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/app/Shared/common.js"></script>
    <script src="~/app/Shared/dropdown.js"></script>


    @*<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><img src="../admin-side/images/logo2.png" alt="..." class="img-circle profile_img" style="margin-top:-3px;margin-left:-3px; width:60px;height:50px;background: #2A3F54;"><span>QL Kho</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="../admin-side/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Admin</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home <span class="label label-success pull-right"> </span></a></li>
                                <li>
                                    <a><i class="fa fa-columns"></i> Danh mục <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a  asp-controller="ProductType" asp-action="Index">Loại sản phẩm</a></li>
                                        <li><a  asp-controller="Product" asp-action="Index">Sản phẩm</a> </li>
                                        <li><a  asp-controller="Location" asp-action="Index">Vị trí</a> </li>
                                        <li><a asp-controller="Contact" asp-action="Index">Liên hệ</a></li>
                                        <li> <a asp-controller="Pallet" asp-action="Index">Mã Pallet</a></li>

                                    </ul>
                                </li>
                                @*<li><a asp-controller="Event" asp-action="Index"><i class="fa fa-desktop"></i> Sự kiện <span class="label label-success pull-right"> </span></a></li>
                                <li><a asp-controller="Device" asp-action="Index"><i class="fa fa-sitemap"></i> Thiết bị <span class="label label-success pull-right"> </span></a></li>*@
                                @*<li><a asp-controller="Face" asp-action="Index"><i class="fa fa-users"></i> Quản lý khuôn mặt <span class="label label-success pull-right"> </span></a></li>*@
                                <li>
                                    <a><i class="fa fa-bus"></i> Nhập hàng <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li> <a  asp-controller="ImportGoods" asp-action="Index"> Danh sách nhập hàng</a></li>
                                        <li>  <a asp-controller="Stocking" asp-action="Index"> Cất hàng</a></li>

                                    </ul>
                                </li>
                                @*<li>
            <a><i class="fa fa-images"></i> Khuôn mặt <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a asp-controller="Face" asp-action="Index">Quản lý khuôn mặt</a></li>
                <li> <a asp-controller="Statistical" asp-action="Index">Thống kê</a></li>

            </ul>
        </li>*@
                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="../admin-side/images/img.jpg" alt="">Admin
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a>
                                    <a class="dropdown-item" href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item"  asp-controller="Login" asp-action="Login"><i class="fa fa-sign-out pull-right"></i> Đăng xuất</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false" hidden>
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="../admin-side/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="../admin-side/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="../admin-side/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="../admin-side/images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" >
                <div class="">
                    @RenderBody()


                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer class="footerlayout" >
                <div class="pull-right">
                    Camera - mắt thần
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    @*<script src="~/lib/font-awesome/js/all.min.js"></script>*@
    <script src="~/lib/jquery2/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/lib/fastclick/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/lib/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="~/lib/jquery-sparklines/jquery.sparkline.min.js"></script>


    <!-- Flot -->
    @*<script src="~/lib/flot/jquery.flot.js"></script>
        <script src="../vendors/Flot/jquery.flot.js"></script>
        <script src="../vendors/Flot/jquery.flot.pie.js"></script>
        <script src="../vendors/Flot/jquery.flot.time.js"></script>
        <script src="../vendors/Flot/jquery.flot.stack.js"></script>
        <script src="../vendors/Flot/jquery.flot.resize.js"></script>*@
    <!-- Flot plugins -->
    @*<script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
        <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
        <script src="../vendors/flot.curvedlines/curvedLines.js"></script>*@
    <!-- DateJS -->
    @*<script src="../vendors/DateJS/build/date.js"></script>*@
    <!-- bootstrap-daterangepicker -->
    @*<script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>*@


    <script src="~/lib/notify/notify.js"></script>
    <script src="~/lib/notify/styles/metro/notify-metro.js"></script>
    <script src="~/lib/twbs-pagination/jquery.twbsPagination.js"></script>
    <script src="~/lib/mustache.js/mustache.js"></script>
    <script src="~/lib/bootstrap-sweetalert/sweetalert.js"></script>

    <script src="~/lib/bootbox.js/bootbox.js"></script>

    @*<script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validate/additional-methods.js"></script>
        <script src="~/lib/jquery-validate/localization/messages_vi.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
    @*<script src="~/lib/moment.js/moment.js"></script>*@
    <!-- Custom Theme Scripts -->
    <script src="~/admin-side/js/custom.min.js"></script>

    @*<script src="~/lib/jquery/jquery.min.js"></script>*@
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validate/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validate/localization/messages_vi.js"></script>

</body>
</html>