﻿
<div id="modal-goods-detail" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #40b0e9;">
                <h4 class="modal-title" style="margin-left: 250px;color:white">Danh sách chi tiết</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>

            </div>
            <div class="col-md-12" id="tab" style="margin-top: 20px;">
                <div class="container" style="float:left;">
                    <ul class="nav nav-tabs">
                        <li><a data-toggle="tab" href="#home" class="nav-item nav-link active">Mã code</a></li>
                        <li class=""><a data-toggle="tab" class="nav-item nav-link " href="#menu1">Mã pallet</a></li>

                    </ul>

                    <div class="tab-content">

                        <div id="home" class="tab-pane fade in active show">

                            <div class="col-md-12" style="margin-top:20px;">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr style="text-align: center;">
                                                        <th width="50px">STT</th>
                                                        <th>Mã sản phẩm</th>
                                                        <th>Số lượng kế hoạch</th>
                                                        <th>Số lượng thực tế</th>
                                                        <th>Ngày tạo</th>
                                                        <th>Người tạo</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbl-product-detail"></tbody>
                                            </table>
                                            <script id="table-template-product-detail" type="x-tmpl-mustache">
                                                <tr>
                                                    <td style="text-align: center;">{{STT}}</td>
                                                    <td>{{MPG_PRODUCT}}</td>
                                                    <td>{{MPG_NUMBER}}</td>
                                                    <td>{{MPG_REALITY}}</td>
                                                    <td>{{MPG_CREATEDATE}}</td>
                                                    <td>{{MPG_CREATEUSER}}</td>
                                                </tr>
                                            </script>
                                            <!--Pagination-->
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                                        <select id="ddlShowPageproduct">
                                                            <option value="10" selected="selected">10</option>
                                                            <option value="20">20</option>
                                                            <option value="30">30</option>
                                                            <option value="50">50</option>
                                                        </select>
                                                        <strong id="lblTotalRecordsproduct"></strong>
                                                    </div>
                                                </div><div class="col-sm-7">
                                                    <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
                                                        <ul id="paginationULproduct"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="menu1" class="tab-pane fade  ">
                          
                            <div class="col-md-12" style="margin-top:20px;">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr style="text-align: center;">
                                                        <th width="50px">STT</th>
                                                        <th>Mã pallet</th>
                                                        <th>Mã sản phẩm</th>
                                                        <th>Số lượng</th>
                                                        <th>Ngày tạo</th>
                                                        <th>Người tạo</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbl-pallet-detail"></tbody>
                                            </table>
                                            <script id="table-template-pallet-detail" type="x-tmpl-mustache">
                                                <tr>
                                                    <td style="text-align: center;">{{STT}}</td>
                                                    <td>{{MPP_PALLET}}</td>
                                                    <td>{{MPP_PRODUCT}}</td>
                                                    <td>{{MPP_NUMBER}}</td>
                                                    <td>{{MPP_CREATEDATE}}</td>
                                                    <td>{{MPP_CREATEUSER}}</td>
                                                </tr>
                                            </script>
                                            <!--Pagination-->
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                                        <select id="ddlShowPagePallet">
                                                            <option value="10" selected="selected">10</option>
                                                            <option value="20">20</option>
                                                            <option value="30">30</option>
                                                            <option value="50">50</option>
                                                        </select>
                                                        <strong id="lblTotalRecordsPallet"></strong>
                                                    </div>
                                                </div><div class="col-sm-7">
                                                    <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
                                                        <ul id="paginationULPallet"></ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @*<div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" id="btnSaveTong" class="btn btn-success">Lưu</button>
                    <button type="button" id="btnHuy" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                </div>
            </div>*@
            </div>
        </div>
        </div>
           
          
        </div>
