﻿@{
    ViewData["Title"] = "Thêm mới nhập hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/jquery.min.js"></script>

<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<link href="~/lib/jqueryui/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="~/app/Controllers/import-goods/add-import-goods.js" asp-append-version="true"></script>
<div class="page-title">
    <div class="title_left" style="width:100%">
        <ol class="breadcrumb">
            <li><a href="#"> Trang chủ > </a></li>
            <li><a href="#">Nhập hàng > </a></li>
            <li><a href="#">Thêm mới nhập hàng</a></li>
        </ol>
    </div>
    <div class="title_left" style="margin: -15px 0px 0px 15px;">
        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2>Thêm mới nhập hàng</h2>
    </div>


</div>

<div class="clearfix"></div>


<div class="col-md-12" >
    <div class="modal-body">
        <div id="horizontal-form">
            <form class="form-horizontal" role="form" id="frmGoods">
                <input type="hidden" id="hidIdM" value="0" />
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="txtNameM" class="col-sm-1 control-label no-padding-right">Biển số xe</label>
                        <div class="col-sm-4" style="margin-bottom:10px;">
                            <input id="txtLicensePlates" required class="form-control" name="txtLicensePlates" value="">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="txtDescM" class="col-sm-1 control-label no-padding-right">Tên lái xe</label>
                        <div class="col-sm-4" style="margin-bottom:10px;">
                            <input id="txtLicenseName" required class="form-control" name="txtLicenseName" value="">

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="txtDescM" class="col-sm-1 control-label no-padding-right">Ngày nhập hàng</label>
                        <div class="col-sm-4" style="margin-bottom:10px;">
                            <input id="txtFromDate" required class="form-control dateTime" name="txtFromDate" value="" placeholder="dd/MM/yyyy">
                            <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="txtDescM" class="col-sm-1 control-label no-padding-right">Ghi chú</label>
                        <div class="col-sm-4" style="margin-bottom:10px;">
                            <input id="txtDes" required class="form-control" name="txtDes" value="">
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="txtName" class="col-sm-1 control-label no-padding-right">File đính kèm</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="file" id="fileInputExcel" name="fileInputExcel" />
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>


            </form>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-danger" type="button" id="btnGoBack"><i class="fa fa-backward" aria-hidden="true"></i> Về trang DS</button>
                    <button type="button" id="btnSave" class="btn btn-success">Lưu</button>
                    <button type="button" id="btnSaveTC" data-dismiss="modal" class="btn btn-info">Thêm thủ công</button>

                </div>
            </div>




        </div>
    </div>


</div>
<div class="col-md-12" id="tab" style="margin-top: 20px; overflow-x: auto;" hidden>
    <div class="container" style="float:left;">
        <ul class="nav nav-tabs">
            <li class=""><a data-toggle="tab" href="#home" class="nav-item nav-link active">Mã code</a></li>
            <li><a data-toggle="tab" class="nav-item nav-link" href="#menu1">Mã pallet</a></li>

        </ul>

        <div class="tab-content">

            <div id="home" class="tab-pane fade in active show">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="btnAdd" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>Thêm dòng</button>
                        <button type="button" id="btnDelete" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>Xóa</button>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top:20px;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr style="text-align: center;">
                                            <th style="min-width:150px"> <input type="checkbox" class="ckcheck"> Chọn tất cả</th>
                                            <th>Mã sản phẩm</th>
                                            <th>Số lượng</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl-import-goods1">
                                        <tr>
                                            <th scope="row" style="text-align: center;">
                                                <input type="checkbox" class="ckcheck1" id="ckcheck1">
                                            </th>
                                            <td><input type="text" class="productName" /></td>
                                            <td><input type="number" name="fname" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align: center;">
                                                <input type="checkbox" class="ckcheck1" id="ckcheck2">
                                            </th>
                                            <td><input type="text" class="productName" /></td>
                                            <td><input type="number" name="fname" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align: center;">
                                                <input type="checkbox" class="ckcheck1">
                                            </th>
                                            <td><input type="text" class="productName" /></td>
                                            <td><input type="number" name="fname" /></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" style="text-align: center;">
                                                <input type="checkbox" class="ckcheck1">
                                            </th>
                                            <td><input type="text" class="productName" /></td>
                                            <td><input type="number" name="fname" /></td>
                                        </tr>
                                    </tbody>

                                </table>

                                <!--Pagination-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">


            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" id="btnSaveTong" class="btn btn-success">Lưu</button>
            <button type="button" id="btnHuy" data-dismiss="modal" class="btn btn-danger">Hủy</button>
        </div>
    </div>
</div>


<script>
    var goods1 = new addImportGoodsController();
    goods1.initialize();
</script>


