﻿@{
    ViewData["Title"] = "Thêm mới nhập hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/jquery.min.js"></script>

<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<link href="~/lib/jqueryui/themes/smoothness/jquery-ui.css" rel="stylesheet" />


<script src="~/app/Controllers/import-goods/add-pallet.js" asp-append-version="true"></script>
<div class="page-title">
    <div class="title_left" style="width:100%">
        <ol class="breadcrumb">
            <li><a href="#"> Trang chủ > </a></li>
            <li><a href="#">Nhập hàng > </a></li>
            <li><a href="#">Sửa nhập hàng</a></li>
        </ol>
    </div>
    <div class="title_left" style="margin: -15px 0px 0px 15px;">
        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2>Sửa nhập hàng</h2>
    </div>


</div>

   

    <div class="col-md-12">
        <div class="modal-body">
            <div id="horizontal-form">
                <form class="form-horizontal" role="form" id="frmGoods">
                    <input type="hidden" id="hidIdM" value=@ViewData["ID"] />
                    <input type="hidden" id="hidIdM1" value=@ViewData["TYPE"] />
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtNameM" class="col-sm-1 control-label no-padding-right">Biển số xe</label>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input id="txtLicensePlates" required class="form-control anhien" name="txtLicensePlates" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-1 control-label no-padding-right">Tên lái xe</label>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input id="txtLicenseName" required class="form-control anhien" name="txtLicenseName" value="">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-1 control-label no-padding-right">Ngày nhập hàng</label>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input id="txtFromDate" required class="form-control dateTime anhien" name="txtFromDate" value="" placeholder="dd/MM/yyyy">
                                <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-1 control-label no-padding-right">Ghi chú</label>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input id="txtDes" required class="form-control anhien" name="txtDes" value="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtName" class="col-sm-1 control-label no-padding-right">File đính kèm</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="file" id="fileInputExcel" name="fileInputExcel" disabled>
                                </div><!-- /input-group -->
                            </div>
                        </div>
                    </div>


                </form>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-danger" type="button" id="btnHuy"><i class="fa fa-backward" aria-hidden="true"></i> Về trang DS</button>
                        <button type="button" id="btnSaveGoods" class="btn btn-success">Lưu</button>

                        @*<button type="button" id="btnHuy" data-dismiss="modal" class="btn btn-danger">Hủy</button>*@
                    </div>
                </div>




            </div>
        </div>


    </div>
    <div class="col-md-12" id="tab" style="margin-top: 20px;">
        <div class="container" style="float:left;">
            <ul class="nav nav-tabs">
                <li><a data-toggle="tab" href="#home" class="nav-item nav-link ">Mã code</a></li>
                <li class=""><a data-toggle="tab" class="nav-item nav-link active" href="#menu1">Mã pallet</a></li>

            </ul>

            <div class="tab-content">

                <div id="home" class="tab-pane fade">

                    <div class="col-md-12" style="margin-top:10px;" id="checkthemsua">
                        <input type="hidden" id="hidIdproduct" value="0" hidden />
                        <input type="hidden" id="hidIdproductCu" value="" hidden />
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnAddProduct" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
                                <button type="button" id="btnDeleteProduct" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>Xóa</button>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <form class="form-horizontal" role="form" id="frmProduct">
                                <div class="col-md-4">
                                    <div class="item form-group">

                                        <label class="col-form-label col-md-4 col-sm-4 ">
                                            Mã sản phẩm
                                        </label>
                                        <div class="col-md-8 col-sm-8 form-group has-feedback">
                                            <select id="ddlCode" class="form-control" name="ddlCode">
                                            </select>

                                        </div>

                                    </div>
                                    @*<label for="txtDescM" class="">Mã sản phẩm</label>
                                    <div class="form-group">
                                        <select id="ddlCode" class="form-control" name="ddlCode">
                                        </select>
                                    </div>*@
                                </div>
                                <div class="col-md-3">
                                    <div class="item form-group">

                                        <label class="col-form-label col-md-5 col-sm-5 ">
                                            SL kế hoạch
                                        </label>
                                        <div class="col-md-7 col-sm-7 form-group has-feedback">
                                            <input id="txtNumber" required class="form-control " name="txtNumber" value="" type="number">

                                        </div>

                                    </div>

                                    @*<label for="txtDescM" class="">Số lượng kế hoạch</label>
                                    <div class="form-group">
                                        <input id="txtNumber" required class="form-control " name="txtNumber" value="" type="number">
                                    </div>*@
                                </div>
                                <div class="col-md-3">
                                    <div class="item form-group">

                                        <label class="col-form-label col-md-4 col-sm-4 ">
                                            SL thực tế
                                        </label>
                                        <div class="col-md-8 col-sm-8 form-group has-feedback">
                                            <input id="txtNumberTT" required class="form-control " name="txtNumberTT" value="" type="number" disabled>

                                        </div>

                                    </div>


                                    @*<label for="txtDescM" class="">Số lượng thực tế</label>
                                    <div class="form-group">
                                        <input id="txtNumberTT" required class="form-control " name="txtNumberTT" value="" type="number" disabled>
                                    </div>*@
                                </div>
                            </form>

                        </div>

                        <div class="col-md-12">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSaveProduct" class="btn btn-success">Lưu</button>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-12" style="margin-top:20px;overflow-x: auto;">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <table class="table table-striped table-bordered table-sm">
                                        <thead>
                                            <tr style="text-align: center; background-color: #4fb2e5;">
                                                <th style="min-width:150px"> <input type="checkbox" class="ckcheck"> Chọn tất cả</th>
                                                <th style="min-width:100px">Chỉnh sửa</th>
                                                <th style="min-width:50px">STT</th>
                                                <th style="min-width:100px">Mã sản phẩm</th>
                                                <th style="min-width:50px">SL kế hoạch</th>
                                                <th style="min-width:50px">SL thực tế</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbl-pallet"></tbody>
                                    </table>
                                    <script id="table-template-pallet" type="x-tmpl-mustache">
                                        <tr>
                                            <th scope="row" style="text-align: center;">
                                                <input type="checkbox" class="ckcheck1 {{ShowView}}" data-id="{{MPG_GOODS}}" data-product="{{MPG_PRODUCT}}">
                                            </th>
                                            <td scope="row" style="text-align: center;">
                                         <i class="fa fa-pencil-square-o i-list btn-edit update-product" style="font-size:150%" update-product {{ShowView}}" data-id="{{MPG_GOODS}}" data-product="{{MPG_PRODUCT}}" title="Sửa"></i>
                                                @*<button class="btn btn-default btn-edit update-product {{ShowView}}" data-id="{{MPG_GOODS}}" data-product="{{MPG_PRODUCT}}" title="Sửa" style="height:27px; width:27px;margin: -10px 0px 0px 0px"><i class="fa fa-pen" style=" margin-left: -8px;"></i></button>*@

                                            </td>
                                            <td style="text-align: center;">{{STT}}</td>
                                            <td>{{MPG_PRODUCT}}</td>
                                            <td>{{MPG_NUMBER}}</td>
                                            <td>{{MPG_REALITY}}</td>
                                        </tr>
                                    </script>
                                    <!--Pagination-->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                <select id="ddlShowPage">
                                    <option value="10" selected="selected">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                                <strong id="lblTotalRecords"></strong>
                            </div>
                        </div><div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
                                <ul id="paginationUL"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade in active show">
                    <div class="col-md-12" style="margin-top:10px;">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnSavePallet" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>Thêm mới</button>
                                @*<button type="button" id="btnAdd" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>Lưu</button>*@
                                <button type="button" id="btnDeletePallet" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>Xóa</button>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <input type="hidden" id="hidIdpallet" value="0" hidden />
                            <input type="hidden" id="hidIdpalletCu" value="" hidden />
                            <input type="hidden" id="hidSoLuongCu" value="" hidden />
                            <form class="form-horizontal" role="form" id="frmPallet">
                                <div class="col-md-4">
                                    <div class="item form-group">

                                        <label class="col-form-label col-md-4 col-sm-4 ">
                                            Mã Pallet
                                        </label>
                                        <div class="col-md-8 col-sm-8 form-group has-feedback">
                                            <select id="ddlCodePallet" class="form-control" name="ddlCodePallet">
                                                <option value="">-- Chọn --</option>
                                            </select>

                                        </div>

                                    </div>
                                    @*<label for="txtDescM" class="">Mã Pallet</label>
                                    <div class="form-group">
                                        <select id="ddlCodePallet" class="form-control" name="ddlCodePallet">
                                            <option value="">-- Chọn --</option>
                                        </select>
                                    </div>*@
                                </div>
                                <div class="col-md-4">
                                    <div class="item form-group">

                                        <label class="col-form-label col-md-4 col-sm-4 ">
                                            Mã sản phẩm
                                        </label>
                                        <div class="col-md-8 col-sm-8 form-group has-feedback">
                                            <select id="ddlCodeProduct" class="form-control" name="ddlCodeProduct">
                                                <option value="">-- Chọn --</option>
                                            </select>

                                        </div>

                                    </div>

                                    @*<label for="txtDescM" class="">Mã sản phẩm</label>
                                    <div class="form-group">
                                        <select id="ddlCodeProduct" class="form-control" name="ddlCodeProduct">
                                            <option value="">-- Chọn --</option>
                                        </select>
                                    </div>*@
                                </div>
                                <div class="col-md-4">
                                    <div class="item form-group">

                                        <label class="col-form-label col-md-4 col-sm-4 ">
                                            Số lượng
                                        </label>
                                        <div class="col-md-8 col-sm-8 form-group has-feedback">
                                            <input id="txtNumberPallet" required class="form-control " name="txtNumberPallet" value="" type="number">

                                        </div>

                                    </div>

                                    @*<label for="txtDescM" class="">Số lượng</label>
                                    <div class="form-group">
                                        <input id="txtNumberPallet" required class="form-control " name="txtNumberPallet" value="" type="number">
                                    </div>*@
                                </div>
                            </form>
                        </div>

                        <div class="col-md-12">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnAddPallet" class="btn btn-success">Lưu</button>
                            </div>
                        </div>


                    </div>

                    <div class="col-md-12" style="margin-top:20px;overflow-x: auto;">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <table class="table table-striped table-bordered table-sm">
                                        <thead>
                                            <tr style="text-align: center; background-color: #4fb2e5;">
                                                <th style="min-width:150px"> <input type="checkbox" class="ckcheck3"> Chọn tất cả</th>
                                                <th style="min-width:100px">Chỉnh sửa</th>
                                                <th style="min-width:50px">STT</th>
                                                <th style="min-width:100px">Mã pallet</th>
                                                <th style="min-width:100px">Mã sản phẩm</th>
                                                <th style="min-width:50px">Số lượng</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbl-pallet-add"></tbody>
                                    </table>
                                    <script id="table-template-pallet-add" type="x-tmpl-mustache">
                                        <tr>
                                            <th scope="row" style="text-align: center;">
                                                <input type="checkbox" class="ckcheck2" data-id="{{MPP_ID}}" >
                                            </th>
                                            <td scope="row" style="text-align: center;">
                                         <i class="fa fa-pencil-square-o i-list btn-edit update-pallet" style="font-size:150%" data-id="{{MPP_ID}}" data-pallet="{{MPP_PALLET}}" title="Sửa"></i>
                                                @*<button class="btn btn-default btn-edit update-pallet" data-id="{{MPP_ID}}" data-pallet="{{MPP_PALLET}}" title="Sửa" style="height:27px; width:27px;margin: -10px 0px 0px 0px"><i class="fa fa-pen" style=" margin-left: -8px;"></i></button>*@
                                                @*<button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>*@
                                            </td>
                                            <td style="text-align: center;">{{STT}}</td>
                                            <td>{{MPP_PALLET}}</td>
                                            <td>{{MPP_PRODUCT}}</td>
                                            <td>{{MPP_NUMBER}}</td>
                                        </tr>
                                    </script>
                                    <!--Pagination-->

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                                <select id="ddlShowPagePallet">
                                    <option value="10" selected="selected">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                                <strong id="lblTotalRecordsPallet"></strong>
                            </div>
                        </div><div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
                                <ul id="paginationULPallet"></ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        @*<div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" id="btnSaveTong" class="btn btn-success">Lưu</button>
                    <button type="button" id="btnHuy" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                </div>
            </div>*@
    </div>

<link href="~/css/hover.css" rel="stylesheet" />
<script>
    var pallet = new addPalletController();
    pallet.initialize();
</script>


