﻿@{
    ViewData["Title"] = "Danh sách nhập hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<link href="~/lib/jqueryui/themes/smoothness/jquery-ui.css" rel="stylesheet" />

<script src="~/app/Controllers/import-goods/index.js" asp-append-version="true"></script>
<div class="page-title">
    <div class="title_left" style="width:100%">
        <ol class="breadcrumb">
            <li><a href="#"> Trang chủ > </a></li>
            <li><a href="#">Nhập hàng > </a></li>
            <li><a href="#">Danh sách nhập hàng</a></li>
        </ol>
    </div>
    <div class="title_left" style="margin: -15px 0px 0px 15px;">
        @*<h2>Chấm công <small>Thống kê chấm công bằng khuôn mặt</small></h2>*@
        <h2>Danh sách nhập hàng</h2>
    </div>


</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="col-md-12">
                <div class="col-md-5 ">
                    <a id="btnExportFileMau"><p class="btn btn-default" type="button" style="color: seagreen;"><i class="fa fa-file-excel" aria-hidden="true"></i> Tải file mẫu</p></a>
                </div>
                <div class="col-md-4 ">
                    <div class="item form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtKeyword" placeholder="Nhập từ khóa cần tìm kiếm..." style="border:1px solid #ced4da;">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" id="btnSearch"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-4 col-sm-5 col-xs-12 form-group pull-right top_search" style="float:left;">
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtKeyword" placeholder="Nhập từ khóa cần tìm kiếm..." style="border:1px solid #ced4da;">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" id="btnSearch"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </div>*@
                <div class="col-md-3 ">


                    <button class="btn btn-danger" type="button" id="btnDelete" style="float:right;"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</button>
                    <button class="btn btn-primary" type="button" id="btnExport" style="float:right;"><i class="fa fa-download" aria-hidden="true"></i> Xuất file</button>
                    <button class="btn btn-success" type="button" id="btnCreate" style="float:right;" asp-controller="ProductType" asp-action="Index"><i class="fa fa-plus" aria-hidden="true"></i> Thêm</button>
                </div>
                @*<div class="col-md-1 " style="float:left;">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="btnImport"><i class="fa fa-file-import" aria-hidden="true"></i> Import</button>
                        </span>sss
                    </div>*@
                @*<div class="col-md-1 " style="float:left;">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="btnExport"><i class="fa fa-download" aria-hidden="true"></i> Xuất file</button>
                        </span>
                    </div>
                    <div class="col-md-1 " style="float:left;">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button" id="btnDelete"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</button>
                        </span>
                    </div>*@
            </div>
            <div class="col-md-12">
                <div class="col-md-2 ">
                    <div class="item form-group">
                        <label style="font-weight:bolder">Bộ lọc nâng cao:</label>
                    </div>

                </div>

                <div class="col-md-3 ">
                    <div class="item form-group">

                        <label class="col-form-label col-md-5 col-sm-5 ">
                            Tình trạng đơn
                        </label>
                        <div class="col-md-7 col-sm-7 form-group has-feedback">
                            <select id="ddlStatus" class="form-control" name="ddlStatus">
                                <option value="">-- Chọn --</option>
                                <option value="1">Hoàn thành</option>
                                <option value="2">Chưa hoàn thành</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="item form-group">

                        <label class="col-form-label col-md-4 col-sm-4 ">
                            Từ ngày
                        </label>
                        <div class="col-md-8 col-sm-8 form-group has-feedback">
                            <input id="txtFromDate" class="form-control dateTime" name="txtFromDate" placeholder="dd/MM/yyyy">
                            <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="item form-group">

                        <label class="col-form-label col-md-4 col-sm-4 ">
                            Đến ngày
                        </label>
                        <div class="col-md-8 col-sm-8 form-group has-feedback">
                            <input id="txtToDate" required class="form-control dateTime" name="txtToDate" value="" placeholder="dd/MM/yyyy">
                            <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>
                        </div>

                    </div>
                </div>
                <div class="col-md-1 ">
                    <div class="item form-group" style="float:right">

                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" id="btnSearchNC" style="float:right;"><i class="fa fa-search" aria-hidden="true"></i> Lọc</button>
                        </span>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>

<div class="row" style=" overflow-x: auto;">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <table class="table table-striped table-bordered table-sm">

                                <thead>
                                    <tr style="text-align: center; background-color: #4fb2e5;">
                                        <th style="min-width:150px"> <input type="checkbox" class="ckcheck"> Chọn tất cả</th>
                                        <th style="min-width:100px">Chỉnh sửa</th>
                                        <th style="min-width:50px">STT</th>
                                        <th>Biển số xe</th>
                                        <th style="min-width:100px">Tên lái xe</th>
                                        <th style="min-width:120px">Ngày nhập hàng</th>
                                        <th style="min-width:120px">Tình trạng đơn</th>
                                        <th>File đính kèm</th>
                                        <th style="min-width:150px">Ghi chú</th>
                                        <th style="min-width:150px">Ngày tạo</th>
                                        <th style="min-width:100px">Người tạo</th>
                                    </tr>
                                </thead>
                                <tbody id="tbl-import-goods"></tbody>
                            </table>
                            <script id="table-template-import-goods" type="x-tmpl-mustache">
                        <tr>
                            <th style="text-align: center;">
                                <input type="checkbox" class="ckcheck1" data-id="{{IG_ID}}">
                            </th>
                            <th scope="row" style="text-align: center;">
                        <i class="fa fa-pencil-square-o i-list btn-edit" style="font-size:150%" data-id="{{IG_ID}}" title="Sửa"></i>
                            <i class="fa fa-list-alt btn-detail" style="font-size:150%" data-id="{{IG_ID}}" title="Xem chi tiết"></i>
                            </th>
                               <td style="text-align: center;">{{STT}}</td>
                            <td>{{IG_LICENSE_PLATES}}</td>
                            <td>{{IG_LICENSE_NAME}}</td>
                            <td>{{IG_GOODS_DATE}}</td>
                            <td>{{IG_STATUS}}</td>
                            <td><a href="{{IG_FILE_LINK}}">{{IG_FILE}}</a></td>
                            <td>{{IG_DESCRIPTION}}</td>
                            <td>{{IG_CREATEDATE}}</td>
                            <td>{{IG_CREATEUSER}}</td>
                        </tr>
                            </script>
                            <!--Pagination-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
            <select id="ddlShowPage">
                <option value="10" selected="selected">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
            <strong id="lblTotalRecords"></strong>
        </div>
    </div><div class="col-sm-7">
        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate" style="float:right;">
            <ul id="paginationUL"></ul>
        </div>
    </div>
</div>


@Html.Partial("_DetailGoods.cshtml")
<script>
    var goods = new goodsController();
    goods.initialize();
</script>
<style>
    i:hover {
        color: red;
    }

    p3:hover {
        color: red;
    }
</style>


