﻿
<div id="modal-contact-add-edit" class="bootbox modal fade modal-darkorange in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #40b0e9;">
                <h4 class="modal-title" style="margin-left: auto;color:white">Thêm/ Sửa Liên hệ</h4>
                <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>

            </div>
            <div class="modal-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" id="frmContact">
                        <input type="hidden" id="hidIdM" value="0" />
                        <div class="form-group">
                            <label for="txtNameM" class="col-sm-3 control-label no-padding-right">Mã liên hệ</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtCode" required class="form-control" name="txtCode" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Loại liên hệ</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <select id="ddlType" class="form-control" name="ddlType">
                                    <option value="NCC">Nhà cung cấp</option>
                                    <option value="KH">Khách hàng</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Tên liên hệ</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtName" required class="form-control" name="txtName" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Công ty</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtCampany" required class="form-control" name="txtCampany" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Địa chỉ</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtAddress" required class="form-control" name="txtAddress" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Email</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtEmail" required class="form-control" name="txtEmail" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">SĐT</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtPhone" required class="form-control" name="txtPhone" value="" type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Người nhận</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtReceiverUser" required class="form-control" name="txtReceiverUser" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Thời gian nhận</label>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                
                                <input id="txtReceiver" required class="form-control" name="txtReceiver" value="" placeholder="hh:mi:ss">
                            </div>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input id="txtReceiverDate" required class="form-control date-picker" name="txtReceiverDate" value="" placeholder="dd/MM/yyyy">
                                <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Ghi chú</label>
                            <div class="col-sm-9" style="margin-bottom:10px;">
                                <input id="txtDes" required class="form-control" name="txtDes" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescM" class="col-sm-3 control-label no-padding-right">Ngày tạo</label>
                            <div class="col-sm-4" style="margin-bottom:10px;">
                                <input id="txtCreateDate" required class="form-control date-picker" name="txtCreateDate" value="" placeholder="dd/MM/yyyy">
                                <span class="fa fa-calendar  form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>


                    </form>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" id="btnSave" class="btn btn-success">Lưu</button>
                            <button type="button" id="btnCancel" data-dismiss="modal" class="btn btn-danger">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
